<div>
  <img src="/assets/1530436.jpeg" alt="Photo of Yinhuan Yuan">
  <p>
    Hi, I'm <strong>Yinhuan Yuan</strong>. I'm a software engineer based in Toronto.
    You can read more about me on <a href="https://yuan.fyi" target="_blank">yuan.fyi</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
